EmbarazoNormal/businessCatalog/Sacyl/Embarazo/AntecedentesHabitos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="Sacyl.Embarazo.AntecedentesHabitos" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/AntecedentesHabitos" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/AntecedentesHabitos"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="AntecedentesHabitosType">
        <xs:sequence>
            <xs:element name="tabaco" nillable="true" type="xs:boolean"/>
            <xs:element name="alcohol" nillable="true" type="xs:boolean"/>
            <xs:element name="otrasSustancias" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AntecedentesHabitos" type="AntecedentesHabitosType"/>
</xs:schema>
