EmbarazoNormal/businessCatalog/Sacyl/Embarazo/AntecedentesInmunizaciones.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="Sacyl.Embarazo.AntecedentesInmunizaciones" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/AntecedentesInmunizaciones" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/AntecedentesInmunizaciones"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="AntecedentesInmunizacionesType">
        <xs:sequence>
            <xs:element name="rubeola" nillable="true" type="xs:boolean"/>
            <xs:element name="tetanos" nillable="true" type="xs:boolean"/>
            <xs:element name="hepatitisB" nillable="true" type="xs:string"/>
            <xs:element name="varicela" nillable="true" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AntecedentesInmunizaciones" type="AntecedentesInmunizacionesType"/>
</xs:schema>
