EmbarazoNormal/businessCatalog/Sacyl/Embarazo/AntecedentesAlergias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="Sacyl.Embarazo.AntecedentesAlergias" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/AntecedentesAlergias" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/AntecedentesAlergias"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="AntecedentesAlergiasType">
        <xs:sequence>
            <xs:element name="medicamentos" nillable="true" type="xs:string"/>
            <xs:element name="otras" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AntecedentesAlergias" type="AntecedentesAlergiasType"/>
</xs:schema>
