EmbarazoNormal/businessCatalog/Sacyl/Embarazo/CartillaSaludEmbarazada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="Sacyl.Embarazo.CartillaSaludEmbarazada" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/CartillaSaludEmbarazada" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/CartillaSaludEmbarazada"  xmlns:ns5="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/Ginecologicos"  xmlns:ns4="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/Antecedentes"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/DatosDemograficos"  xmlns:ns2="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/PersonalSanitario"  xmlns:ns3="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/DatosLaborales"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/Ginecologicos" schemaLocation="Ginecologicos.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/Antecedentes" schemaLocation="Antecedentes.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/DatosLaborales" schemaLocation="DatosLaborales.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/DatosDemograficos" schemaLocation="DatosDemograficos.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/PersonalSanitario" schemaLocation="PersonalSanitario.xsd"/>
    <xs:complexType name="CartillaSaludEmbarazadaType">
        <xs:sequence>
            <xs:element name="datosDemograficos" nillable="true" type="ns1:DatosDemograficosType"/>
            <xs:element name="personalSanitario" nillable="true" type="ns2:PersonalSanitarioType"/>
            <xs:element name="datosLaborales" nillable="true" type="ns3:DatosLaboralesType"/>
            <xs:element name="antecedentes" nillable="true" type="ns4:AntecedentesType"/>
            <xs:element name="ginecologicos" nillable="true" type="ns5:GinecologicosType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CartillaSaludEmbarazada" type="CartillaSaludEmbarazadaType"/>
</xs:schema>
