EmbarazoNormal/businessCatalog/Sacyl/Embarazo/DatosDemograficos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="Sacyl.Embarazo.DatosDemograficos" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/DatosDemograficos" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/DatosDemograficos"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="DatosDemograficosType">
        <xs:sequence>
            <xs:element name="cip" nillable="true" type="xs:string"/>
            <xs:element name="nombre" nillable="true" type="xs:string"/>
            <xs:element name="apellido1" nillable="true" type="xs:string"/>
            <xs:element name="apellido2" nillable="true" type="xs:string"/>
            <xs:element name="dni" nillable="true" type="xs:string"/>
            <xs:element name="fechaNacimiento" nillable="true" type="xs:date"/>
            <xs:element name="domicilio" nillable="true" type="xs:string"/>
            <xs:element name="localidad" nillable="true" type="xs:string"/>
            <xs:element name="codigoPostal" nillable="true" type="xs:string"/>
            <xs:element name="provincia" nillable="true" type="xs:string"/>
            <xs:element name="telefono" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DatosDemograficos" type="DatosDemograficosType"/>
</xs:schema>
