EmbarazoNormal/businessCatalog/Sacyl/Embarazo/Ginecologicos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="Sacyl.Embarazo.Ginecologicos" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/Ginecologicos" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/Ginecologicos"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/Obstetricos"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/Obstetricos" schemaLocation="Obstetricos.xsd"/>
    <xs:complexType name="GinecologicosType">
        <xs:sequence>
            <xs:element name="menarquia" nillable="true" type="xs:string"/>
            <xs:element name="tipoMenstrual" nillable="true" type="xs:string"/>
            <xs:element name="anticoncepcionPrevia" nillable="true" type="xs:boolean"/>
            <xs:element name="metodoAnticoncepcion" nillable="true" type="xs:string"/>
            <xs:element name="patologiaGinecologicaPrevia" nillable="true" type="xs:string"/>
            <xs:element name="esterilidadPrevia" nillable="true" type="xs:string"/>
            <xs:element name="obstetricos" nillable="true" type="ns1:ObstetricosType" maxOccurs="unbounded"/>
            <xs:element name="observaciones" nillable="true" type="xs:string"/>
            <xs:element name="fechaUltimaRegla" nillable="true" type="xs:date"/>
            <xs:element name="fechaProbableParto" nillable="true" type="xs:date"/>
            <xs:element name="formulaMenstrual" nillable="true" type="xs:string"/>
            <xs:element name="correccionFechaProbableParto" nillable="true" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Ginecologicos" type="GinecologicosType"/>
</xs:schema>
