EmbarazoNormal/businessCatalog/Sacyl/Embarazo/PersonalSanitario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="Sacyl.Embarazo.PersonalSanitario" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/PersonalSanitario" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/Sacyl/Embarazo/PersonalSanitario"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="PersonalSanitarioType">
        <xs:sequence>
            <xs:element name="centro" nillable="true" type="xs:string"/>
            <xs:element name="ciasMedico" nillable="true" type="xs:string"/>
            <xs:element name="matrona" nillable="true" type="xs:string"/>
            <xs:element name="tocologo" nillable="true" type="xs:string"/>
            <xs:element name="hospital" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PersonalSanitario" type="PersonalSanitarioType"/>
</xs:schema>
